* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container {
    width: 70%;
    margin: 0 auto;
}
.block {
    min-height: 400px;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 20px 0;
    padding: 40px;
    position: relative;
}
p {
    margin-bottom: 20px;
}
.center-block {
    display: flex;
    justify-content: center;
}
.btn-edit {
    width: 100px;
    height: 40px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
}
.btn-edit:hover {
    border: 3px solid rgb(214, 212, 96);
}
.btn-style {
    width: 100px;
    height: 40px;
    background-color: blue;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
}
.btn-style:hover {
    border: 3px solid rgb(82, 91, 218);
}
.edit-block, .style-block {
    display: none;
}
.edit-area {
    width: 100%;
    height: 200px;
    resize: none;
}
.btn-add {
    width: 100px;
    height: 40px;
    background-color: rgb(0, 255, 51);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.btn-save {
    width: 100px;
    height: 40px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.btn-add:hover {
    border: 3px solid green;
}
.btn-save:hover {
    border: 3px solid rgb(128, 0, 0);
}
.text-colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    outline: 1px solid black;
    position: absolute;
    top: 10px;
    right: 10px;   
    
}
.background-colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    outline: 1px solid black;
    position: absolute;
    top: 10px;
    right: 10px;  
}
.color-box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.first, .second {
    display: none;
}

.bold {
    font-weight: bold;
}
.cursive {
    font-style: italic;
}
.font-size, .font-family, .form-color, .form-style {
    font-size: 15px;
    margin: 30px;
}
.radio {
    margin: 20px;
}
span {
    font-size: 18px;
}
.family {
    margin: 20px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    outline: none;
}
.family:focus {
    border: 3px solid rgb(0, 234, 255, 0.8);
}

.btn-text-color, .btn-background-color {
    width: 150px;
    height: 35px;
    background-color: gray;
    margin: 20px;
    border: none;
}
.btn-text-color:hover, .btn-background-color:hover {
    border: 3px solid rgb(83, 81, 81);
}
.check-bold {
    margin: 20px;
}
.check-cursive {
    margin: 20px;
}
.choose {
    margin: 20px;
}

.tb {
    margin: 20px 30px 20px 20px;
    width: 1000px;
    height: 35px;
    border-radius: 10px;
    outline: none;
}
.tb:focus, .wb:focus {
    border: 3px solid rgb(0, 234, 255, 0.8);
}
.wb {
    margin: 20px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    outline: none;
}
.countli {
    margin-right: 45px;
}
.btn {
    width: 150px;
    height: 35px;
    background-color: green;
    margin: 20px;
    border: none;
    border-radius:10px;
}
.btn-create-table:hover {
    border: 3px solid greenyellow;
}
.style-tb {
    font-size: 25px;
    margin: 20px;
}

.hide {
    display: none;
}
.show {
    display: block;
    
}
